header {
    background-color: #ffed74;
    border: 1px black solid;
    padding: 10px;
}

body {
   padding: 1em 0; 
}

nav {
    background-color: #e8c66a;
    padding: 5px;
}
aside{
    background-color: #ffc675;
    padding: 5px;
}

article {
    background-color: #e89c6c;
    padding: 5px;
}
div {
    background-color: #ffe2b8;
    padding: 5px;
}

footer {
background-color: #ff957e;
  padding: 10px; 
}