h1 {
  text-align: center;
  text-transform:  italic;
}
body {
  text-align: center;
  background: <img 
  src="images/CREA_20090602_Alma-Mater_04.jpg">;
  alt="Alma Mater Statue"
  background-size: cover;
  color: #0046A6;
  font-family: Helvetica Neue;
}
hr {
  width: 150px;
}
p{
  font-size: 15px;
}