h1 {
  text-align: center;
}
body {
  text-align: center;
  background: 
  background-size: cover;
  color: #fff;
  font-family: Verdana;
}
hr {
  width: 200px;
}
p{
  font-size: 22px;
}
q{font-size: 18px
italic}