h1 {
  text-align: center;
}
body {
  text-align: center;
  background: url("nstanislas.github.io/unit_3/images/CSSWAW.gif")
  background-size: cover;
  color: #48a1d3;
  font-family: Gotham;
  height: 100%;
}
hr {
  width: 200px;
}
p{
  font-size: 22px;
}
q{font-size: 18px
italic}